@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Mono:wght@100;500&display=swap');


* {
    cursor: url('../public/cursor3.png'), default;
    
}


button {
    cursor: url('../public/cursor4.png'), auto;
}

.github_button {
    cursor: url('../public/cursor4.png'), auto;
}

.icon {
    cursor: url('../public/cursor4.png'), auto;
}

.book_icon {
    cursor: url('../public/cursor4.png'), auto;
}

.note_icon {
    cursor: url('../public/cursor4.png'), auto;
}

.menu_button_center {
    cursor: url('../public/cursor4.png'), auto;
}

.bottom_bar {
    display: flex;
    background-color: #cccccc;
    width: 100%;
    height: 4.5vh;
    min-height: 40px;
    padding-left: 5px;
    position: absolute;
    bottom: 0;
    flex-direction: row;
    align-items: center;
    z-index: 101;
}


.menu_button {
    display: flex;
    min-height: 35px;
    width: 120px;
    height: 80%;
    padding: 3px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    border-radius: 0px;
    border:2px outset #999;
    font-size: 17px;
    font-weight: 900;
    -webkit-box-shadow: 5px 5px 5px rgba(34, 34, 34, 0.4);
    -moz-box-shadow: 3px 3px 5px rgba(41, 41, 41, 0.4);
}



.menu_button_center {
    height: 100%;
    width: 100%;
    background-color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0e0e0;
    box-shadow: inset 1px 1px 2px gray,
                inset -5px -5px 10px #ffffff;


}

.menu_button:active {
    border-radius: 0px;
    border:3px outset #999;
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
}

.bottom_bar_separator {
    width: 6px;
    height: 80%;
    margin-left: 10px;
    border-radius: 0px;
    box-shadow: inset 2px 2px 2px #a1a1a1,
                inset -1px -1px 2px #ffffff;
}

.bottom_bar_convex_bump {
    width: 5px;
    height: 80%;
    margin-left: 10px;
    border-radius: 3px;
    box-shadow:  2px 0px 0px #a1a1a1,
                -2px 0px 4px #ffffff;
}

.menu_button_icon {
    background-blend-mode: multiply;
    width: 25px;
    margin-right: 5px;
    margin-top: 3px;
}

.bottom_bar_program {
    display: flex;
    min-height: 30px;
    width: 120px;
    height: 3.7vh;
    background-color: #cccccc;
    margin-left: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px; 
    font-weight: bold;
    align-items: center;
    justify-content: center;    
    border:1.5px solid black;
    box-shadow: inset 3px 3px 0px #ffffff,
    inset -3px -3px 0px #a1a1a1;
    cursor: pointer;
}

.bottom_bar_program_active {
    display: flex;
    min-height: 30px;
    width: 120px;
    height: 3.7vh;
    background-color: #d8d8d8;
    margin-left: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px; 
    font-weight: bold;
    align-items: center;
    justify-content: center;    
    border:1.5px solid black;
    box-shadow: inset 4px 4px 2px   #a1a1a1,
    inset -4px -4px 2px #ffffff;
    cursor: pointer;
}


.window {
    background-color: #cccccc;
    position: absolute;
    display: flex;
    width: 25vw;
    height: 60vh;
    align-items: center;
    justify-content: center;
    padding: 5px;
    resize: both;
    overflow: auto;
    min-height: 300px;
    min-width: 300px;
    flex-direction: column;
    box-shadow:  7px 7px 0px #ffffff;
    border:1.5px solid black;
    align-self: flex-start;
    top: 10vh;
    left: 10vw;
}


.window_mobile {
    background-color: #cccccc;
    display: flex;
    position: absolute;
    width: 90vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
    padding: 5px;
    resize: both;
    min-height: 300px;
    min-width: 300px;
    flex-direction: column;
    box-shadow:  7px 7px 0px #ffffff;
    border:1.5px solid black;
    top: 10vh;
    left: 5vw;
}

.program_top_buttons {
    flex-direction: row;
    display: flex;
}

.about_me_title_mobile {
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;   
    font-weight: 700;
    display: flex;
    align-self: center;
    justify-self: center; 
    width: 100%;
}

.window_inner {
    box-shadow: inset 4px 3px 3px rgb(121, 121, 121),
    inset -1px -1px 2px #7c7c7c;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow:auto;

}

.test_text:hover {
    background-color: blue ;
}

.window_top {
    height: 40px;
    background: rgb(185,20,255);
    background: linear-gradient(90deg, rgba(185,20,255,1) 22%, rgba(245,210,100,1) 79%);
    width: 100%;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;    
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.drag_zone {
    height: 40px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window_top_button {
    width: 25px;
    width: 25px;
    background-color: #cccccc;
    margin-left: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px; 
    font-weight: bold;
    align-items: center;
    justify-content: center;    
    border:1.5px solid black;
    box-shadow: inset 2px 2px 0px #ffffff,
    inset -2px -2px 0px #a1a1a1;
}

.menu_window {
    background-color: #cccccc;
    z-index: 100;
    width: 300px;
    height: 500px;
    position: absolute;
    bottom: 4.5vh;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    justify-content: left;
    border:1.5px solid black;
    box-shadow:  7px 7px 0px whitesmoke;
   
}

.filler {
    background-color: #cccccc;
    width: 100%;
    height: 100%;
}

.menu_window_lateral_text {
    align-items: center;
    padding-top: 5%;
    height: 100%;
    width: 17%;
    display: flex;
    background: rgb(185,20,255);
    background: linear-gradient(180deg, rgba(185,20,255,1) 22%, rgba(245,210,100,1) 79%);
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-family: 'Roboto Mono', monospace;
    font-size: 25px; 
    color: whitesmoke;
    font-weight: 900;
}

.menu_windows_items_div {
    height: max-content;
    width: 100%;
    background-color: transparent;
}

.menu_windows_items {
    background: rgb(185,20,255);
    background: linear-gradient(0deg, rgba(185,20,255,1) 22%, rgba(245,210,100,1) 79%);
    background-color: #cccccc;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Roboto Mono', monospace;
}


.menu_windows_item {
    background-color: #cccccc;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.menu_windows_item:hover {
    background-color: transparent;

}

.menu_icons {
    scale: 1.2;
    padding-left: 15px;
    padding-right: 15px;
    
}

.bottom_bar_programs {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.icons_div {
    height:  50vh;
    display: flex;
    margin-left: 1vw;
    justify-content: space-around;
    flex-direction: column;
    align-self: flex-start;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    margin-bottom: 20px;
}

.icon_image {
    pointer-events: none;
    scale: 1.7;
    user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.about_me {
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    box-shadow: inset 2px 2px 0px  #a1a1a1,
    inset -2px -2px 0px #ffffff;
    padding-left: 15px;
    flex-direction: column;
    overflow: auto;
}

.about_me_title {
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    font-weight: 800;
}

.about_me_text {
    width: 100%;
}

.my_skills {
    background-color: rgb(224, 224, 224);
    width: 100%;
    display: flex;
    box-shadow: inset 2px 2px 0px  #a1a1a1,
    inset -2px -2px 0px #ffffff;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 1500px;
    
}

.my_skills_title {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 800;
}

.badges {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 800;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    /* must be 10px for all sides; must appear 10px visually */
    resize: horizontal;
    display: flex;
    padding: 10px;
}

.ms_badge {
    height: 80px;
}

.badge {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

.some_projects {
    width: 100%;
    height: 100%;
    background-color: #cccccc;
    align-items: center;
    justify-content: center;
    display: flex;
}

.some_projects_inner1 {
    width: 90%;
    height: 90%;
    background-color: #cccccc;
    box-shadow: inset 3px 3px 0px #ffffff,
    inset -3px -3px 0px #a1a1a1;
    padding: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.some_projects_inner2 {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: inset 3px 3px 0px #a1a1a1,
    inset -3px -3px 0px  #ffffff;
    padding: 10px;
    overflow: auto;
}


.book_icon {
    height: 40px;
    margin-right: 10px;
}

.note_icon {
    height: 30px;
    margin-right: 10px;
}

.ms_book {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;

    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 400;
}

.ms_note {
    display: flex;
    padding-left: 40px;
    align-items: center;
    height: 40px;

    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 400;
}

.note_desctiption {
    width: 100%;
    height: 100%;
    box-shadow: inset 3px 3px 0px #7a7a7a,
    inset -3px -3px 0px  #ffffff;
    padding: 20px;
    background-image: radial-gradient(yellow 20%, transparent 20%),
    radial-gradient(#fafafa 20%, transparent 20%);
    background-color: white;
    background-position: 0 0, 5px 50px;
    background-size: 10px 10px;
    overflow: auto;
}

.notes_title {
    width: 100%;
    justify-content: center;
    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 400;
}

.github_button {
    display: flex;
    min-height: 30px;
    width: 120px;
    height: 3.7vh;
    background-color: #cccccc;
    margin-left: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px; 
    font-weight: bold;
    align-items: center;
    justify-content: center;    
    border:1.5px solid black;
    box-shadow: inset 3px 3px 0px #ffffff,
    inset -3px -3px 0px #a1a1a1;
}

.notes_bottom {
    width: 100%;
    display: flex;
    justify-content: right;
}

.contact_me {
    background-color: #cccccc;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px; 
}

.contact_me_input_div {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.contact_me_input {
    width: 100%;
    background-color:whitesmoke;
    height: 90%;
    margin-left: 10px;
    box-shadow: inset 3px 3px 0px  #a1a1a1,
    inset -3px -3px 0px #ffffff;
}

.input {
    background-color: transparent;
    margin-left: 10px;
    width: 100%;
    height: 100%;
    border-width: 0px;
    outline: none;
    -webkit-appearance: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px; 

}

.input_label {
    width: 75px;
}

.message_div {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-shadow: inset 3px 3px 0px   #ffffff,
    inset -3px -3px 0px #a1a1a1;
    flex-direction: column;
}

.contact_me_input_div_message {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    box-shadow: inset 3px 3px 0px #a1a1a1,
    inset -3px -3px 0px #ffffff;
}

.input_text_area {
    width: 100%;
    height: 100%;
    border-width: 0px;
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    resize: none;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px; 
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.send_button_div {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.input_message_div {
    width: 100%;
    height: 100%;
}

.time_div {
    margin-right: 10px;
    width: 100px;
    height: 80%;
    box-shadow: inset 3px 3px 0px #a1a1a1,
    inset -3px -3px 0px #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    right: 10px;
}